*{
    padding: 0%;
    margin: 0%;
}

body{
    background-image: url("96a924af-0fcd-4414-a378-55416e7fb2a6.jpg");
    width: 1200px;
    height: 625px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    justify-content: center;
    align-items: center;
}

#CurrencyConverterheading{
    font-family: "Momo Trust Display", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: 20px;
}

#containerdiv{
    background: #fff;
    border-radius: 10px;
    text-align: center;
    width: 500px;
    margin-left: 120px;
}

input, select, button {
    width: 450px;
    padding: 10px;
    margin: 10px 0;
    font-size: 18px;
    font-family: "Momo Trust Display", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#amount{
    width: 425px;
}

#Currency-formats{
    font-family: "Momo Trust Display", sans-serif;
    font-weight: 200;
    font-size: 13px;
    font-style: normal;
    width: 150px;
    clear: both;
    position: fixed;
    margin-top: -500px;
    margin-left: -980px;
}

#result{
    padding: 20px;
    font-family: "Momo Trust Display", sans-serif;
    font-weight: 200;
    font-size: 16px;
    font-style: normal;
}